body{
  background-color: #e8b5ce;
  font-family: arial;
    margin: 0;
}
header{
  background-color: white;
    text-align: center;
}
h1{
  color: #e8b5ce;
  text-align: center;
    margin: 0;
    padding: 0px 10px;
}
a{
  color: #0099ff;
    margin: 0;
}
p{
  padding: 10px 10px 0px 0px;
}
nav ul{
  margin: 0;
}
nav ul li{
  background: #e8b5ce;

  padding: 5px 5px 5px 5px;
  list-style-type: none;
  display: inline-block;
  margin: 5px;

}
nav ul li a{
  color: white;

}
.column{
  float: left;
  width: 50%;
}
row:after {
  content: "";
  display: table;
  clear: both;
}
