 body{
  background-image: url("rosebackground.png");
  font-family: arial;
  text-align: center;
    margin: 0;
color:#1a314d ;
    padding: 0;
}
header{

    text-align: center;
    color: #1a314d;

}
h1{
  text-align: center;
    margin: 0;
    font-size: 50px;
      font-family:cursive;
}
a{

    margin: 0;
    padding: 5px 5px;
}
p{
  align:center;
  text-align: center;

  color: #1a314d;

}
 ul li{
    border: 3px solid #1a314d;
    background-color:#f579a0 ;
    color: white;
    padding: 5px;

}

nav{
  color: #1a314d;
}
nav ,ul, li{
  margin: 0 auto;

  border: 3px solid #1a314d;
  background-color:#f579a0 ;
  color: white;
  padding: 5px;



}
hr{
  color: #1a314d;
}

nav ul li{

  list-style-type: none;
  display: inline-block;
  margin: 0 auto;
padding: 0px

}

table{
  border: 3px solid #000;
  width: 550px;
  height: auto;
margin:0 auto;
align: center;
text-align:left;
background-color: ="#0098ff";
padding: 5px;

}
th{
  border: 2px solid #000;
  text-align: center;
  margin: 0px;
  padding: 5px;
}
td{
  border: 1px solid #000;
    text-align: left;
  padding: 5px;
  margin:0 auto;

}



footer{
  background-color:#1a314d;
  height: 50px;
  color: white;
  margin-top: 700px;
  clear:both;
  text-align: center;
}
